{{#sketchClass.deleted}}
<div class="alert alert-warn" style="margin-bottom:10px;">
  This sketch was created using the "{{sketchClass.name}}" template, which is
  no longer available. You will not be able to copy this sketch or make new
  sketches of this type.
</div>
{{/sketchClass.deleted}}
{{#d3IsPresent}}
<div class="reportSection size">
  <h4>Distance from Shore</h4>
        <div class="large-header">The closest land is <strong>{{dist_to_shore}}</strong> m away:</div>
        <div class="viz2" style="position:relative;"></div>
  </p>
</div>
{{/d3IsPresent}}
{{^d3IsPresent}}
<div class="reportSection size">
  <h4>Distance from Shore</h4>
    <p class="large">
      The distance to the closest point on land is <strong>{{dist_to_shore}}</strong> meters.
  </p>
</div>
{{/d3IsPresent}}

<div class="reportSection size">
  <h4>Depth</h4>
  <p class="large">
    The water depth at the swim pontoon is <strong>{{depth}}</strong>.
  </p>
</div>

<div class="reportSection size">
  <h4>Size</h4>
  <p class="large">
    The swim pontoon is <strong>{{size}} square meters</strong>. This should be sufficient to support the use within the area.
  </p>
</div>

<div class="reportSection size">
  <h4>Shipping Channels<a href="#" data-toggle-node="52d5af3ac03e516417000278">show shipping channel</a></h4>
  <p class="large">
    {{#crossesShippingChannel}}<strong>Warning: </strong>{{/crossesShippingChannel}} The shortest route from your swim pontoon to shore <strong>{{#crossesShippingChannel}}crosses{{/crossesShippingChannel}}{{^crossesShippingChannel}}does not cross{{/crossesShippingChannel}}</strong> an active shipping channel.
  </p>
</div>